# Bootstrap
/Symfony/app/bootstrap*

# Symfony directories
/Symfony/vendor/*
/Symfony/app/cache/*
/Symfony/app/logs/*
/httpdocs/uploads/*
/httpdocs/bundles/*

# Configuration files
/Symfony/app/config/security.yml
/Symfony/app/config/parameters.yml

# Composer
composer.phar

# Netbeans
/nbproject

# Assetic
/httpdocs/images/*
!/httpdocs/images/managed
/httpdocs/generated/*
!/httpdocs/generated