# Bootstrap
/Symfony/app/bootstrap*

# Symfony directories
/Symfony/vendor/*
/Symfony/app/cache/*
/Symfony/app/logs/*
/Symfony/web/bundles/*
/Symfony/web/uploads/*

# Configuration files
/Symfony/app/config/security.yml
/Symfony/app/config/parameters.yml

# Composer
composer.phar

# Netbeans
/nbproject

# Assetic
/Symfony/web/generated/*

# Capifony
deploy.rb