{% extends 'PaLogicBlogBundle::layout.html.twig' %}

{% block title %}Add Comment{{parent()}}{% endblock%}

{% block body %}
    <section class="content">
        <h1>Kommentar erstellen für: "{{ comment.post.title }}"</h1>
        {% include 'PaLogicBlogBundle:Comment:form.html.twig' with { 'form': form } %}
    </section>
{% endblock %}