{% extends 'BoxenmietenAppBundle:Article:show.html.twig' %}

{% block details %}
{{ parent() }}
<li><span class="lite1">Eingänge </span>{{ article.inputs }}</li>
<li><span class="lite1">Ausgänge </span>{{ article.outputs }}</li>
<li><span class="lite1">Vorverstärker </span>{{ article.preamps }}</li>
{% endblock %}