{% extends 'PaLogic\BundleSecurityBundle::layout.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form class="forms" action="{{ path('login_check') }}" method="post">
        <fieldset>
            <label for="username">Username:</label>
            <input class="text-input" type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input class="text-input" type="password" id="password" name="_password" />

            <!-- target to redirect after login -->
            <input type="hidden" name="_target_path" value="/admin" />
            
            <br />
            <br />
            <button class="btn-submit" type="submit">login</button>
        </fieldset>
    </form>
{% endblock body %}