{% extends 'BoxenmietenAppBundle:Component:show.html.twig' %}

{% block details %}
{{ parent() }}
<li><span class="lite1">Länge </span>{{ component.cmLength }} cm</li>
<li><span class="lite1">Typ </span>{{ component.type }}</li>
{% endblock %}