{% extends "DjCrowdAppBundle::layout.html.twig" %}

{# copied from @PaLogicUserBundle::layout.html.twig #}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        '@PaLogicUserBundle/Resources/public/css/stylesheet.css'
        output='generated/style/palogicUserStylesheet.css'
    %}
        <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
{# end copied #}